<div class="row ">
    <div class="col-md-2 ">
        <h5 class="text-secondary">{{car.type}}</h5>
        <p>Gyártó: {{car.manufacturer}} </p>
        <p>Rendszám: {{car.license}}</p>
        <p>Bérleti díj: {{car.rfee}}</p>
        <p>Kilométerdíj: {{car.kmfee}}</p>
        <p *ngIf="car.states">Elérhetőség: {{car.states.title}}</p>
        <button class="btn btn-sm btn-primary" (click)="navigateToCarForm(car.id)">Szerkesztés</button>
    </div>
    <div class="col-md-3">
        <img [src]="car.imgUrl" alt="Product image">
    </div>
</div>